body {
    background-color: #000;
    color: #fff;
}
img {
    width: 100%;
}
.carousel-image-item img {
    height: 100vh;
    object-fit: cover;
}
.carousel-container {
    margin: 0 auto;
}

.arrow {
    cursor: pointer;
    position: relative;
    bottom: 400px;
}
